# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
bin
int
__pycache__

# Visual Studio files and dirs
*.sdf
*.opensdf
*.aps
*.suo
*.user

ipch
*.log
apps/Tasks/inc/langs.h
locale