@import 'css/font-awesome.min.css';

.contents {
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	word-wrap: break-word;
	padding: 40px 40px;
}

@media (min-width: 660px){
	.contents {
		margin: 0px auto;
		width: 600px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
}

body {
	background: url('watermark.png') left bottom fixed no-repeat;
}

h1 {
	margin-top: 0px
}

.left {
	float: left
}

.right {
	float: right
}

.files {
	font-size: 13px;
	padding: 0px;
}

.icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin-top: 3px;
	margin-right: 5px;
}

.icon-file:before {
	content: "\f016";
}

.icon-zip:before {
	content: "\f1c6";
}

.icon-bin:before {
	content: "\f019";
}

.icon-txt:before {
	content: "\f0f6";
}

.icon-dir-up:before {
	content: "\f0a8";
}

.icon-notes:before {
	content: "\f188";
}

.icon-dir:before {
	content: "\f07b";
}

.icon-dir-o:before {
	content: "\f114";
}

.icon-tag:before {
	content: "\f02b";
}

.icon-commit:before {
	content: "\f08d";
}

.icon-github:before {
	content: "\f09b";
}

.files li {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.light, a .light {
	color: #999
}

.subdirs {
	padding: 0px
}

li.entry {
	display: block;
	margin-bottom: 40px;
}

li.entry:last-child {
	margin-bottom: 0px;
}

.entry > a {
	font-size: 1.5em;
	color: #333;
}

.entry .latest {
	font-size: 1em;
	color: #999;
}

.entry .latest:before {
	content: "(\2192\a0 ";
}

.entry .latest:after {
	content: ")";
}

.hints > li {
	display: block
}

.short-hints, .short-hints > li, .page-links > li {
	display: inline-block
}

.page-links {
	padding: 0px;
	margin: -2em 0px 1em 0px;
}

.page-links > li {
	margin-right: 1em
}

.page-links > li > a {
	color: #999;
}

.page-links > li > a:hover,
.page-links > li > a:hover > .icon {
	color: #f93;
	text-decoration: none
}
.page-hints a:hover,
.page-hints a:hover > .icon {
	color: #f93 !important;
}

.hints, .short-hints {
	margin: 0px;
	padding: 0px;
}

.hints > li > span:first-child {
	padding-right: 5px
}

.short-hints > li {
	padding: 0px 10px 0px 0px
}

.short-hints > li > a,
.parent-dir > a {
	color: #999;
}

.short-hints > li > a:hover,
.short-hints > li > a:hover > .icon,
.parent-dir > a:hover,
.parent-dir > a:hover > .icon {
	color: #4183c4;
	text-decoration: none
}

.pre-release, .candidate {
	display: inline-block;
	padding: 0px 5px;
	margin: 5px 0px 0px;
	border-radius: 4px;
}

.pre-release {
	color: #fff;
	background: #df3e3e;
}

.candidate {
	color: #fff;
	background: #60b044;
}

ins {
	text-decoration: none;
	color: #080;
	background: #cfc
}

del {
	text-decoration: none;
	color: #800;
	background: #fcc
}

.phony>a, h2.phony {
	color: #df3e3e
}

.phony .reason, .phony.reason {
	color: #ea7e7e
}

h2.phony {
	margin-bottom: 0px;
}

p.phony.reason {
	margin-top: 0px;
}