<?xml version="1.0" encoding="utf-8" ?>

<?ifndef COMPANY?>
<?define COMPANY="midnightBITS" ?>
<?endif?>

<?ifndef PACKAGE?>
<?define PACKAGE="Tasks" ?>
<?endif?>

<?ifndef VERSION_MAJOR?>
<?define VERSION_MAJOR="1" ?>
<?endif?>

<?ifndef VERSION_MINOR?>
<?define VERSION_MINOR="0" ?>
<?endif?>

<?ifndef VERSION_PATCH?>
<?define VERSION_PATCH="2" ?>
<?endif?>

<?ifndef VERSION_BUILD?>
<?define VERSION_BUILD="0" ?>
<?endif?>

<?define SHORT_VERSION="$(var.VERSION_MAJOR).$(var.VERSION_MINOR)" ?>
<?define VERSION="$(var.VERSION_MAJOR).$(var.VERSION_MINOR).$(var.VERSION_PATCH)" ?>
<?define LONG_VERSION="$(var.VERSION_MAJOR).$(var.VERSION_MINOR).$(var.VERSION_PATCH).$(var.VERSION_BUILD)" ?>

<?if $(var.VERSION_MAJOR) = "1" ?>
<?define PRODUCT="$(var.PACKAGE)"?>
<?else?>
<?define PRODUCT="$(var.PACKAGE) $(var.SHORT_VERSION)"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Name="$(var.PRODUCT)"
			 Id="{6B8BACFA-161B-433B-9B1E-8652FE3CD90E}"
			 UpgradeCode="{2E10A6B5-33CF-422C-810C-8B18DFC03C6E}"
			 Language="1033"
			 Codepage="1252"
			 Version="$(var.LONG_VERSION)"
			 Manufacturer="$(var.COMPANY)" >

		<Package Id="*"
				 Keywords="Installer"
				 Description="$(var.COMPANY)' $(var.PACKAGE) $(var.VERSION) Installer, Build $(var.VERSION_BUILD)"
				 Manufacturer="$(var.COMPANY)"
				 InstallerVersion="100"
				 Languages="1033"
				 Compressed="yes"
				 SummaryCodepage="1252"
				 />

		<Upgrade Id="{2E10A6B5-33CF-422C-810C-8B18DFC03C6E}">
			<UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
			  Minimum='$(var.LONG_VERSION)' IncludeMinimum='no' />
		</Upgrade>
		<CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

		<Property Id="ARPPRODUCTICON" Value="Tasks.ico" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Property Id="ALLUSERS" Value="0"/>

		<Media Id='1' Cabinet='$(var.PACKAGE).cab' EmbedCab='yes' />
		<Media Id='2' Cabinet='Fonts.cab' EmbedCab='yes' />
		<Media Id='3' Cabinet='Libcurl.cab' EmbedCab='yes' />
<?ifdef MSVCRT ?>
		<Media Id='4' Cabinet='MSVCRT.cab' EmbedCab='yes' />
<?endif?>
		<Media Id='5' Cabinet='Locale.cab' EmbedCab='yes' />
			
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='$(var.PACKAGE)'>
					<Directory Id='Fonts' Name='fonts' />
					<Directory Id='Locale' Name='locale' />
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="StartMenuFolder" />
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
		
		<Icon Id="Tasks.ico" SourceFile="res/Tasks.ico" />
		
		<Component Id='MainExecutable.Component' Guid='{0BF923DF-8E07-40F6-B937-02B2FF523DC0}' Directory='INSTALLDIR'>
			<File Id='Tasks_EXE' Name='Tasks.exe' DiskId='1' Source='artifacts/Tasks.exe' KeyPath='yes'>
				<Shortcut Id="startmenuTask" Directory="ProgramMenuFolder" Name="Tasks"
						  WorkingDirectory='INSTALLDIR'
						  Icon="$(var.PACKAGE).ico" IconIndex="0"
						  Advertise="yes" />
				<Shortcut Id="desktopTasks" Directory="DesktopFolder" Name="Tasks"
						  WorkingDirectory='INSTALLDIR'
						  Icon="Tasks.ico" IconIndex="0"
						  Advertise="yes" />
			</File>
			<File Id='LICENSE' Name='LICENSE' DiskId='1' Source='res/LICENSE' />
		</Component>

		<Component Id='Fonts.Component' Guid='{7D0F0F45-4967-4E2D-B903-421763CF3CFF}' Directory='Fonts'>
			<File Id='fonts_FontAwesome_OTF'
				  Name='FontAwesome.otf' Source='fonts/FontAwesome.otf'
				  DiskId='2' KeyPath='yes'  />
		</Component>

		<Component Id='Locale.Component' Guid='{32BD8778-F9E8-4613-9291-5518711547C2}' Directory='Locale'>
			<File Id='locale_Tasks_en'
				  Name='Tasks.en' Source='res/locale/Tasks.en'
				  DiskId='5' KeyPath='yes' />
			<File Id='locale_Tasks_pl'
				  Name='Tasks.pl' Source='res/locale/Tasks.pl'
				  DiskId='5' />
		</Component>

		<Component Id='Curl.Component' Guid='{C40018C7-B3EA-4B2F-8D1F-307F01324CD7}' Directory='INSTALLDIR'>
			<File Id='libcurl_DLL'
				  Name='libcurl.dll' Source='libcurl/libcurl.dll'
				  DiskId='3' KeyPath='yes' />
			<File Id='libeay32_DLL'
				  Name='libeay32.dll' Source='libcurl/libeay32.dll'
				  DiskId='3' />
			<File Id='libssh2_DLL'
				  Name='libssh2.dll' Source='libcurl/libssh2.dll'
				  DiskId='3' />
			<File Id='msvcr120_DLL'
				  Name='msvcr120.dll' Source='libcurl/msvcr120.dll'
				  DiskId='3' />
			<File Id='ssleay32_DLL'
				  Name='ssleay32.dll' Source='libcurl/ssleay32.dll'
				  DiskId='3' />
			<File Id='zlib1_DLL'
				  Name='zlib1.dll' Source='libcurl/zlib1.dll'
				  DiskId='3' />
		</Component>

<?ifdef MSVCRT ?>
		<Component Id='MSVCRT.Component' Guid='{6D42C511-CF7F-4480-A5FE-5FC3A0C3FF5D}' Directory='INSTALLDIR'>
			<File Id='vcruntime140_DLL'
				  Name='vcruntime140.dll' Source='msvcrt/vcruntime140.dll'
				  DiskId='4' KeyPath='yes' />
			<File Id='vccorlib140_DLL'
				  Name='vccorlib140.dll' Source='msvcrt/vccorlib140.dll'
				  DiskId='4' />
			<File Id='msvcp140_DLL'
				  Name='msvcp140.dll' Source='msvcrt/msvcp140.dll'
				  DiskId='4' />
			<File Id='concrt140_DLL'
				  Name='concrt140.dll' Source='msvcrt/concrt140.dll'
				  DiskId='4' />
		</Component>
<?endif?>

		<Feature Id='Complete' Title='$(var.PACKAGE) $(var.VERSION)'
				 Display='expand' Description='The complete package' Level='1'
				 ConfigurableDirectory='INSTALLDIR' AllowAdvertise='no'>
			<ComponentRef Id='MainExecutable.Component' />
			<ComponentRef Id='Fonts.Component' />
			<ComponentRef Id='Locale.Component' />
			<Feature Id='Curl' Title='libCurl'
					 Description='The libCurl libraries. You do not need to install those, if you have a version of libCurl DLLs instaleld somewhere on your system.'
					 AllowAdvertise='no' Level='1'>
				<ComponentRef Id='Curl.Component' />
			</Feature>
<?ifdef MSVCRT ?>
			<Feature Id='MSVCRT' Title='MSVCRT 14.0 (VS 2015)'
					 Description='The MSVCRT140 libraries. You do not need to install those, if you have Visual Studio 2015 installed.'
					 AllowAdvertise='no' Level='1000'>
				<ComponentRef Id='MSVCRT.Component' />
			</Feature>
<?endif?>
		</Feature>

		<UIRef Id="WixUI_FeatureTree" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<WixVariable Id="WixUILicenseRtf" Value="mit-license.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

		<InstallExecuteSequence>
			<Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
		</InstallExecuteSequence>
	</Product>

</Wix>